* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.col {
    margin-bottom: 1rem;
}